body{
    background-color: #EFF2E9;
    margin: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.web-name{
    color: #133F26;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    background-color: #DAE1D6;
    max-width: 20%;
    height: 50px;
    border-radius: 8px;
}

.navbar{
    background-color: #DAE1D6;
    border-radius: 10px;
    padding-top: 0;
}

.logo-class{
    max-width: 50px;
}

.sign-option{
    height: 20px;
    width: 50px;
    color: #133F26;
    direction: ltr;
}
